body {
    background:darkblue;
}

.container{
    display: flex;
    border: 2px dotted white;
    flex-direction: row;
    padding:2em;
    margin: 2px;

}

#photo{
    float: right;
    width: 200px;
    height: 200px;
}

#game{
    border: 2px dotted white;
    float: right;
    padding: 50px;
    margin: 50px;
    height: 300px;
    width: 300px;
}
header{
    text-align:center;
    font: 100px;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}