b

#game{
    border: 2px dotted white;
    float: right;
    padding: 50px;
    margin: 50px;
    height: 300px;
    width: 300px;
}
header{
    text-align:center;
    font: 100px;
    color:black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}